In [176]:
import pymongo

In [177]:
from pymongo import MongoClient

In [178]:
import pymongo
# my client = Mongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb=myclient["mydatabase"]

In [179]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'school_db']

In [180]:
dblist=myclient.list_database_names()
if "mydatabse" in dblist:
    print("the database exist.")

In [181]:
mycol =mydb["customers"] # Creating a Collection or Table

In [182]:
collist = mydb.list_collection_names()
if "customers" in collist:
    print("The collction exists.")

In [183]:
print(mydb.list_collection_names())

[]

In [184]:
mydict ={ "name": "john", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [185]:
# Inserting Document into a collection

data = [
{
    "_id": "103", "name": "Ram", "age":"26", "city": "Hyderabad"
},
{
     "_id": "104", "name": "Robert", "age":"28", "city": "mumbai"
}
]

res = mycol.insert_many(data)
print("Data Inserted ...")
print(mycol.inserted_ids)

Data Inserted ...
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'customers.inserted_ids')

In [186]:
print(res.inserted_ids)

['103', '104']

In [187]:
print("First record of collection:")
print(mycol.find_one)

First record of collection:
<bound method Collection.find_one of Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'customers')>

In [188]:
for doc1 in mycol.find():
    print(doc1)

{'_id': ObjectId('68c81b4cf46103991766ed0f'), 'name': 'john', 'address': 'Highway 37'}
{'_id': '103', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}

In [189]:
for doc2 in mycol.find():
    print(doc1)

{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}

In [190]:
for doc2 in mycol.find({"age":
                        {"$gt":"26"}}):
    print(doc2)

{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}

In [191]:
for doc2 in mycol.find().sort("age",-1):
    print(doc2)

{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '103', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': ObjectId('68c81b4cf46103991766ed0f'), 'name': 'john', 'address': 'Highway 37'}

In [192]:
mycol.delete_one({"_id": "101"})

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [193]:
for doc2 in mycol.find():
    print(doc2)

{'_id': ObjectId('68c81b4cf46103991766ed0f'), 'name': 'john', 'address': 'Highway 37'}
{'_id': '103', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}

In [194]:
mycol.delete_many({"age":{"$gte":"26"}})

DeleteResult({'n': 2, 'ok': 1.0}, acknowledged=True)

In [195]:
mycol.drop()

In [196]:
collections = mydb.list_collection_names()
for coll in collections:
    print(coll)

In [197]:
mycol.update_one({"_id": "102"}, {"$set":{"city":"vizag"}})

UpdateResult({'n': 0, 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}, acknowledged=True)

In [ ]:
for doc2 in mycol.find().limit(3):
    print(doc2)

In [ ]:
#1
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client['school_db']
collection = db['school_db']
print("Database created........")
print("List of databases after creating new one")
print(client.list_database_names())

Database created........
List of databases after creating new one

['admin', 'config', 'local', 'school_db']

In [ ]:
#2
def create_collections():

    client = MongoClient('localhost', 27017)
    db = client['school_db']

    db.create_collection("students")
    db.create_collection("courses")
    db.create_collection("enrollments")

    print("Collections created successfully!")
    print("List of collections:", db.list_collection_names())
    
    

create_collections()

CollectionInvalid: collection students already exists

In [ ]:
import pandas as pd

In [212]:
#3
students_df = pd.read_csv("./students.csv")   
students_data = students_df.to_dict(orient="records")

db.students.insert_many(students_data)

print("Inserted", len(students_data), "students into MongoDB successfully!")
courses_df = pd.read_csv("./courses.csv")   
courses_data = courses_df.to_dict(orient="records")

db.courses.insert_many(courses_data)

print("Inserted", len(courses_data), "courses into MongoDB successfully!")
enrollments_df = pd.read_csv("./courses.csv")   
enrollements_data = enrollments_df.to_dict(orient="records")

db.enrollments.insert_many(enrollements_data)

print("Inserted", len(enrollements_data), "enrollments into MongoDB successfully!")

Inserted 100 students into MongoDB successfully!
Inserted 10 courses into MongoDB successfully!
Inserted 10 enrollments into MongoDB successfully!

In [ ]:
#4

# Fetch data from students table into pandas DataFrame
df = pd.read_sql_query("SELECT * FROM students", con)

# Print in tabular format
print(df.to_string(index=False))

 student_id     name  age grade                email
          1    Zane1   18     C     zane1@school.edu
          2     Uma2   23     A     uma2@outlook.com
          3   Wendy3   22     A     wendy3@yahoo.com
          4  Xander4   22     A  xander4@outlook.com
          5  Victor5   19     A    victor5@gmail.com
          6     Ian6   19     D     ian6@outlook.com
          7     Leo7   22     A       leo7@gmail.com
          8    Paul8   24     B    paul8@outlook.com
          9   Wendy9   23     B    wendy9@school.edu
         10    Leo10   23     A      leo10@yahoo.com
         11    Uma11   18     C     uma11@school.edu
         12   Rita12   18     B   rita12@outlook.com
         13   Yara13   22     B     yara13@yahoo.com
         14    Bob14   19     C    bob14@outlook.com
         15 Quincy15   24     A  quincy15@school.edu
         16   Tina16   19     A     tina16@yahoo.com
         17  Alice17   25     B  alice17@outlook.com
         18    Sam18   20     B      sam18@gmail.com
         19   Paul19   23     A    paul19@school.edu
         20 Victor20   19     D   victor20@gmail.com
         21  Frank21   23     A   frank21@school.edu
         22 Victor22   18     A   victor22@yahoo.com
         23  Karen23   25     A    karen23@yahoo.com
         24  Grace24   24     D    grace24@gmail.com
         25 Quincy25   25     A  quincy25@school.edu
         26   Mona26   20     D     mona26@gmail.com
         27    Uma27   22     B     uma27@school.edu
         28   Nina28   23     B     nina28@yahoo.com
         29    Ian29   23     B     ian29@school.edu
         30   Tina30   23     A   tina30@outlook.com
         31   Nina31   22     B    nina31@school.edu
         32 Hannah32   21     A  hannah32@school.edu
         33  David33   25     D   david33@school.edu
         34  Wendy34   22     B    wendy34@yahoo.com
         35  Frank35   25     C    frank35@yahoo.com
         36   Paul36   22     D   paul36@outlook.com
         37    Ian37   21     D     ian37@school.edu
         38   Paul38   20     C   paul38@outlook.com
         39 Hannah39   18     A hannah39@outlook.com
         40   Zane40   21     A     zane40@yahoo.com
         41    Ian41   24     D    ian41@outlook.com
         42 Quincy42   24     C   quincy42@gmail.com
         43 Quincy43   25     D   quincy43@gmail.com
         44   Tina44   19     C   tina44@outlook.com
         45 Xander45   23     C   xander45@yahoo.com
         46   Zane46   25     C     zane46@gmail.com
         47    Eva47   19     D      eva47@yahoo.com
         48    Leo48   22     B    leo48@outlook.com
         49    Uma49   25     A     uma49@school.edu
         50    Bob50   22     D      bob50@gmail.com
         51  Karen51   18     A  karen51@outlook.com
         52 Hannah52   23     A   hannah52@yahoo.com
         53    Bob53   21     C    bob53@outlook.com
         54    Leo54   18     C      leo54@yahoo.com
         55   Yara55   22     A     yara55@yahoo.com
         56    Eva56   19     C     eva56@school.edu
         57   Nina57   21     B    nina57@school.edu
         58    Eva58   20     A      eva58@yahoo.com
         59  Oscar59   21     B    oscar59@yahoo.com
         60   Yara60   18     B     yara60@gmail.com
         61  Oscar61   23     D    oscar61@gmail.com
         62   Rita62   23     C     rita62@gmail.com
         63 Victor63   20     D   victor63@yahoo.com
         64 Xander64   19     D   xander64@yahoo.com
         65 Hannah65   22     D  hannah65@school.edu
         66   Nina66   25     D    nina66@school.edu
         67 Victor67   18     A victor67@outlook.com
         68  Karen68   18     A   karen68@school.edu
         69  Grace69   18     D    grace69@gmail.com
         70   Jack70   24     A    jack70@school.edu
         71   Nina71   23     B   nina71@outlook.com
         72    Ian72   22     D      ian72@gmail.com
         73  Grace73   19     A    grace73@yahoo.com
         74  Grace74   24     C    grace74@gmail.com
         75 Quincy75   23     D  quincy75@school.edu
         76  Oscar76   19     D   oscar76@school.edu
         77  Grace77   22     D  grace77@outlook.com
         78    Ian78   22     D    ian78@outlook.com
         79 Xander79   24     C xander79@outlook.com
         80   Tina80   22     D     tina80@gmail.com
         81  Wendy81   20     A   wendy81@school.edu
         82  Karen82   23     B  karen82@outlook.com
         83    Leo83   18     C    leo83@outlook.com
         84    Bob84   18     A     bob84@school.edu
         85   Rita85   18     A   rita85@outlook.com
         86  Alice86   21     B  alice86@outlook.com
         87    Sam87   19     C      sam87@yahoo.com
         88  Wendy88   23     A    wendy88@yahoo.com
         89   Tina89   21     C   tina89@outlook.com
         90   Zane90   25     D     zane90@gmail.com
         91   Tina91   21     D     tina91@yahoo.com
         92  Wendy92   19     C    wendy92@gmail.com
         93 Quincy93   19     A   quincy93@gmail.com
         94    Eva94   24     C     eva94@school.edu
         95   Tina95   25     D   tina95@outlook.com
         96    Ian96   25     C     ian96@school.edu
         97   Mona97   22     C     mona97@gmail.com
         98    Leo98   25     A     leo98@school.edu
         99    Bob99   23     C    bob99@outlook.com
        100  Paul100   19     B  paul100@outlook.com

In [ ]:
#5
sid = int(input("Enter Student ID: "))
new_grade = input("Enter new Grade: ")

# Update the student's grade
result = db.students.update_one(
    {"student_id": sid},
    {"$set": {"grade": new_grade}}
)

if result.modified_count > 0:
    print("Grade updated successfully!")
else:
    print("No student found with that ID.")

Grade updated successfully!

In [ ]:
#6
sid = int(input("Enter Student ID to delete: "))

# Delete the student
result = db.students.delete_one({"student_id": sid})

if result.deleted_count > 0:
    print("Student deleted successfully!")
else:
    print("No student found with that ID.")

Student deleted successfully!

In [4]:
#7
def insert_enrollment(enroll_id, student_id, course_id):
    student_exists = db.students.find_one({"student_id": student_id})
    course_exists = db.courses.find_one({"course_id": course_id})

    if student_exists and course_exists:
        db.enrollments.insert_one({
            "student_id": student_id,
            "course_id": course_id
        })
        print(f"Enrollment inserted: Student {student_id} -> Course {course_id}")
    else:
        print("Error: Invalid student_id or course_id. Enrollment not inserted.")

In [8]:
#8
try:
    db
except NameError:
    from pymongo import MongoClient
    client = MongoClient('localhost', 27017)
    db = client['school_db']

cid = int(input("Enter Course ID: "))

enrolled_students = db.enrollments.find({"course_id": cid})

print(f"\nEnrollments for course {cid}:")
for enrollment in enrolled_students:
    print(f"- Enrollment ID: {enrollment.get('_id')}, Course Name: {enrollment.get('course_name')}, Instructor: {enrollment.get('instructor')}")
    if 'student_id' in enrollment:
        student = db.students.find_one({"student_id": enrollment["student_id"]})
        if student:
            print(f"  Student: {student.get('student_id')}: {student.get('name')} (Grade: {student.get('grade')})")

Enrollments for course 3:
- Enrollment ID: 68c81c83f46103991766eddc, Course Name: Chemistry, Instructor: Dr. Brown
- Enrollment ID: 68c81c9bf46103991766eeae, Course Name: Chemistry, Instructor: Dr. Brown
- Enrollment ID: 68c81cbff46103991766ef80, Course Name: Chemistry, Instructor: Dr. Brown
- Enrollment ID: 68c81e00f46103991766f05c, Course Name: Chemistry, Instructor: Dr. Brown
- Enrollment ID: 68c81e15f46103991766f0d4, Course Name: Chemistry, Instructor: Dr. Brown

In [9]:
#9..Write a program to display students who are not enrolled in any course.
from pymongo import MongoClient
 
client = MongoClient("mongodb://localhost:27017/")
db = client["schools_db"]
 
students = db.students
enrollments = db.enrollments
 
 
enrolled_ids = enrollments.distinct("student_id")
 
not_enrolled = students.find(
    {"student_id": {"$nin": enrolled_ids}},
    {"_id": 0, "student_id": 1, "name": 1}
)
 
for s in not_enrolled:
    print(s)

In [11]:
#10. . Perform an INNER JOIN between students and courses using Python to show student names along with the courses they are enrolled in.
course = [
    {"$lookup": {
        "from": "enrollments",
        "localField": "student_id",
        "foreignField": "student_id",
        "as": "enrollments"
    }},
    {"$unwind": "$enrollments"}, 
    
    # Join with courses
    {"$lookup": {
        "from": "courses",
        "localField": "enrollments.course_id",
        "foreignField": "course_id",
        "as": "course_info"
    }},
    {"$unwind": "$course_info"},  

    {"$project": {
        "_id": 0,
        "Student Name": "$name",
        "Course Name": "$course_info.course_name"
    }}
]
results = db.students.aggregate(course)
print("Student Name -> Course Name")
for r in results:
    print(f"{r['Student Name']} -> {r['Course Name']}")

Student Name -> Course Name

In [14]:
#11. Write a Python function to search for a student by name (partial matches allowed using LIKE).
partial_name = input("Enter student name (partial search): ")
query = {"name": {"$regex": partial_name, "$options": "i"}}
students = db.students.find(query, {"_id": 0})
found = False
print("\nSearch results:\n")
for student in students:
    found = True
    print("ID:", student.get("student_id"),
          "| Name:", student.get("name"),
          "| Age:", student.get("age"),
          "| Grade:", student.get("grade"),
          "| Email:", student.get("email"))
if not found:
    print("No matching student found.")

Search results:

No matching student found.

In [18]:
#12
import pandas as pd
import random
students_df = pd.read_csv("./students.csv")

# Generate random email addresses
domains = ["gmail.com", "yahoo.com", "outlook.com", "school.edu"]
students_df["email"] = (
    students_df["name"].str.lower() +
    [str(random.randint(100,999)) for _ in range(len(students_df))] +
    "@" +
    pd.Series(random.choices(domains, k=len(students_df)))
)

print(students_df.head())

   student_id     name  age grade                  email
0           1    Zane1   18     C     zane1474@yahoo.com
1           2     Uma2   23     A     uma2439@school.edu
2           3   Wendy3   22     B   wendy3214@school.edu
3           4  Xander4   22     A  xander4922@school.edu
4           5  Victor5   19     A  victor5121@school.edu

In [20]:
#13. Create a program to count how many students are enrolled per course and display results in descending order
students = pd.read_csv("./students.csv")
courses = pd.read_csv("./courses.csv")
enrollments = pd.read_csv("./enrollments.csv")

# Join enrollments with courses to count students per course
course_enrollments = enrollments.merge(courses, on="course_id", how="inner")

# Count number of students per course
student_count_per_course = course_enrollments.groupby("course_name")["student_id"].count()

# Sort in descending order
student_count_per_course = student_count_per_course.sort_values(ascending=False)

print(student_count_per_course)

course_name
Chemistry             28
Philosophy            22
Mathematics           21
Computer Science      21
History               21
Economics             20
Statistics            19
Biology               18
Physics               16
English Literature    13
Name: student_id, dtype: int64

In [21]:
#!4
import pandas as pd

# Load data
students = pd.read_csv("./students.csv")
courses = pd.read_csv("./courses.csv")
enrollments = pd.read_csv("./enrollments.csv")

# Function to get students enrolled in a course
def get_students_in_course(course_name):
    # Merge enrollments with courses
    course_enrollments = enrollments.merge(courses, on="course_id", how="inner")
    # Merge with students
    course_students = course_enrollments.merge(students, on="student_id", how="inner")
    # Filter by course name
    result = course_students[course_students["course_name"].str.lower() == course_name.lower()]
    # Select required columns
    return result[["student_id", "name", "grade", "course_name"]]

# Example usage
course_name = input("Enter course name: ")   # e.g. Mathematics
print(get_students_in_course(course_name))

     student_id      name grade course_name
5             5   Victor5     A   Chemistry
14           10     Leo10     A   Chemistry
16           11     Uma11     C   Chemistry
23           14     Bob14     C   Chemistry
34           18     Sam18     B   Chemistry
42           22  Victor22     A   Chemistry
53           28    Nina28     B   Chemistry
56           29     Ian29     B   Chemistry
57           30    Tina30     A   Chemistry
62           31    Nina31     B   Chemistry
67           34   Wendy34     B   Chemistry
78           41     Ian41     D   Chemistry
101          52  Hannah52     A   Chemistry
105          54     Leo54     C   Chemistry
124          64  Xander64     D   Chemistry
127          65  Hannah65     D   Chemistry
128          66    Nina66     D   Chemistry
132          68   Karen68     A   Chemistry
135          69   Grace69     D   Chemistry
140          72     Ian72     D   Chemistry
159          79  Xander79     C   Chemistry
165          82   Karen82     B   Chemistry
167          83     Leo83     C   Chemistry
170          84     Bob84     A   Chemistry
172          86   Alice86     B   Chemistry
186          93  Quincy93     A   Chemistry
189          95    Tina95     D   Chemistry
195          98     Leo98     A   Chemistry

In [ ]:
#15
import pandas as pd

# Load students data
students = pd.read_csv("./students.csv")

# Export to a new CSV file
students.to_csv("./students_export.csv", index=False)

print("Students table exported successfully to students_export.csv")

Students table exported successfully to students_export.csv

In [24]:
#16
import pandas as pd
import sqlite3

# Load student data from CSV
students = pd.read_csv("./students.csv")

# Connect to SQLite (creates file 'school.db')
conn = sqlite3.connect("school.db")
cursor = conn.cursor()

# Create students table
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    grade TEXT,
    email TEXT
)
""")

# Insert data into students table
students.to_sql("students", conn, if_exists="replace", index=False)

# Verify insertion
for row in cursor.execute("SELECT * FROM students LIMIT 5"):
    print(row)

(1, 'Zane1', 18, 'C', 'zane1@school.edu')
(2, 'Uma2', 23, 'A', 'uma2@outlook.com')
(3, 'Wendy3', 22, 'B', 'wendy3@yahoo.com')
(4, 'Xander4', 22, 'A', 'xander4@outlook.com')
(5, 'Victor5', 19, 'A', 'victor5@gmail.com')

In [25]:
#18
import pandas as pd
import sqlite3

# Load students data
students = pd.read_csv("./students.csv")

# Connect to SQLite DB
conn = sqlite3.connect("school.db")
cursor = conn.cursor()

# Create students table with UNIQUE student_id
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    grade TEXT,
    email TEXT
)
""")

# Function to insert a student with exception handling
def insert_student(student_id, name, age, grade, email):
    try:
        cursor.execute("""
            INSERT INTO students (student_id, name, age, grade, email)
            VALUES (?, ?, ?, ?, ?)
        """, (student_id, name, age, grade, email))
        conn.commit()
        print(f" Student {name} inserted successfully.")
    except sqlite3.IntegrityError:
        print(f" Error: Student with ID {student_id} already exists. Skipping insertion.")

# Insert all students from CSV
for _, row in students.iterrows():
    insert_student(row["student_id"], row["name"], row["age"], row["grade"], row["email"])

# Try inserting a duplicate student
insert_student(1, "Duplicate_Student", 20, "B", "dup@student.com")

 Student Zane1 inserted successfully.
 Student Uma2 inserted successfully.
 Student Wendy3 inserted successfully.
 Student Xander4 inserted successfully.
 Student Victor5 inserted successfully.
 Student Ian6 inserted successfully.
 Student Leo7 inserted successfully.
 Student Paul8 inserted successfully.
 Student Wendy9 inserted successfully.
 Student Leo10 inserted successfully.
 Student Uma11 inserted successfully.
 Student Rita12 inserted successfully.
 Student Yara13 inserted successfully.
 Student Bob14 inserted successfully.
 Student Quincy15 inserted successfully.
 Student Tina16 inserted successfully.
 Student Alice17 inserted successfully.
 Student Sam18 inserted successfully.
 Student Paul19 inserted successfully.
 Student Victor20 inserted successfully.
 Student Frank21 inserted successfully.
 Student Victor22 inserted successfully.
 Student Karen23 inserted successfully.
 Student Grace24 inserted successfully.
 Student Quincy25 inserted successfully.
 Student Mona26 inserted successfully.
 Student Uma27 inserted successfully.
 Student Nina28 inserted successfully.
 Student Ian29 inserted successfully.
 Student Tina30 inserted successfully.
 Student Nina31 inserted successfully.
 Student Hannah32 inserted successfully.
 Student David33 inserted successfully.
 Student Wendy34 inserted successfully.
 Student Frank35 inserted successfully.
 Student Paul36 inserted successfully.
 Student Ian37 inserted successfully.
 Student Paul38 inserted successfully.
 Student Hannah39 inserted successfully.
 Student Zane40 inserted successfully.
 Student Ian41 inserted successfully.
 Student Quincy42 inserted successfully.
 Student Quincy43 inserted successfully.
 Student Tina44 inserted successfully.
 Student Xander45 inserted successfully.
 Student Zane46 inserted successfully.
 Student Eva47 inserted successfully.
 Student Leo48 inserted successfully.
 Student Uma49 inserted successfully.
 Student Bob50 inserted successfully.
 Student Karen51 inserted successfully.
 Student Hannah52 inserted successfully.
 Student Bob53 inserted successfully.
 Student Leo54 inserted successfully.
 Student Yara55 inserted successfully.
 Student Eva56 inserted successfully.
 Student Nina57 inserted successfully.
 Student Eva58 inserted successfully.
 Student Oscar59 inserted successfully.
 Student Yara60 inserted successfully.
 Student Oscar61 inserted successfully.
 Student Rita62 inserted successfully.
 Student Victor63 inserted successfully.
 Student Xander64 inserted successfully.
 Student Hannah65 inserted successfully.
 Student Nina66 inserted successfully.
 Student Victor67 inserted successfully.
 Student Karen68 inserted successfully.
 Student Grace69 inserted successfully.
 Student Jack70 inserted successfully.
 Student Nina71 inserted successfully.
 Student Ian72 inserted successfully.
 Student Grace73 inserted successfully.
 Student Grace74 inserted successfully.
 Student Quincy75 inserted successfully.
 Student Oscar76 inserted successfully.
 Student Grace77 inserted successfully.
 Student Ian78 inserted successfully.
 Student Xander79 inserted successfully.
 Student Tina80 inserted successfully.
 Student Wendy81 inserted successfully.
 Student Karen82 inserted successfully.
 Student Leo83 inserted successfully.
 Student Bob84 inserted successfully.
 Student Rita85 inserted successfully.
 Student Alice86 inserted successfully.
 Student Sam87 inserted successfully.
 Student Wendy88 inserted successfully.
 Student Tina89 inserted successfully.
 Student Zane90 inserted successfully.
 Student Tina91 inserted successfully.
 Student Wendy92 inserted successfully.
 Student Quincy93 inserted successfully.
 Student Eva94 inserted successfully.
 Student Tina95 inserted successfully.
 Student Ian96 inserted successfully.
 Student Mona97 inserted successfully.
 Student Leo98 inserted successfully.
 Student Bob99 inserted successfully.
 Student Paul100 inserted successfully.
 Student Duplicate_Student inserted successfully.

In [27]:
import sqlite3

conn = sqlite3.connect("school.db")
cur = conn.cursor()

cur.execute("CREATE TABLE IF NOT EXISTS students (student_id INT PRIMARY KEY, name TEXT, age INT, grade TEXT, email TEXT)")
cur.execute("CREATE TABLE IF NOT EXISTS courses (course_id INT PRIMARY KEY, course_name TEXT, instructor TEXT)")
cur.execute("CREATE TABLE IF NOT EXISTS enrollments (enroll_id INTEGER PRIMARY KEY AUTOINCREMENT, student_id INT, course_id INT, FOREIGN KEY(student_id) REFERENCES students(student_id), FOREIGN KEY(course_id) REFERENCES courses(course_id))")

def insert_and_enroll(sid, name, age, grade, email, cid):
    try:
        conn.execute("BEGIN")
        cur.execute("INSERT INTO students VALUES (?,?,?,?,?)", (sid, name, age, grade, email))
        cur.execute("INSERT INTO enrollments(student_id, course_id) VALUES (?,?)", (sid, cid))
        conn.commit()
        print(" Transaction committed")
    except Exception as e:
        conn.rollback()
        print("Rolled back:", e)

# Example: fail case (course_id 999 doesnâ€™t exist)
insert_and_enroll(201, "Mini_Student", 21, "B", "mini@student.com", 999)
conn.close()

 Transaction committed

In [28]:
#20
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
db = client["school_db"]

client.close()
print("MongoDB connection closed safely.")

MongoDB connection closed safely.