In [12]:
import pymongo

In [13]:
from pymongo import MongoClient

In [14]:
import pymongo
# my client = Mongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb=myclient["mydatabase"]

In [15]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydatabase']

In [16]:
dblist=myclient.list_database_names()
if "mydatabse" in dblist:
    print("the database exist.")

In [17]:
mycol =mydb["customers"] # Creating a Collection or Table

In [18]:
collist = mydb.list_collection_names()
if "customers" in collist:
    print("The collction exists.")

The collction exists.

In [19]:
print(mydb.list_collection_names())

['customers']

In [20]:
mydict ={ "name": "john", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [23]:
# Inserting Document into a collection

data = [
{
    "_id": "103", "name": "Ram", "age":"26", "city": "Hyderabad"
},
{
     "_id": "104", "name": "Robert", "age":"28", "city": "mumbai"
}
]

res = mycol.insert_many(data)
print("Data Inserted ...")
print(mycol.inserted_ids)

Data Inserted ...
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'customers.inserted_ids')

In [ ]:
print(res.inserted_ids)

['101', '102']

In [24]:
print("First record of collection:")
print(mycol.find_one)

First record of collection:
<bound method Collection.find_one of Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'customers')>

In [26]:
for doc1 in mycol.find():
    print(doc1)

{'_id': ObjectId('68c78de14d52678dc662feee'), 'name': 'john', 'address': 'Highway 37'}
{'_id': '101', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '102', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': ObjectId('68c791ac4d52678dc662fef0'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('68c791ae4d52678dc662fef2'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('68c791cf3630c2c21ae752cd'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('68c792593630c2c21ae752cf'), 'name': 'john', 'address': 'Highway 37'}
{'_id': '103', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}

In [28]:
for doc2 in mycol.find():
    print(doc1)

{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}

In [29]:
for doc2 in mycol.find({"age":
                        {"$gt":"26"}}):
    print(doc2)

{'_id': '102', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}

In [30]:
for doc2 in mycol.find().sort("age",-1):
    print(doc2)

{'_id': '102', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': '101', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '103', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': ObjectId('68c78de14d52678dc662feee'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('68c791ac4d52678dc662fef0'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('68c791ae4d52678dc662fef2'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('68c791cf3630c2c21ae752cd'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('68c792593630c2c21ae752cf'), 'name': 'john', 'address': 'Highway 37'}

In [31]:
mycol.delete_one({"_id": "101"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [32]:
for doc2 in mycol.find():
    print(doc2)

{'_id': ObjectId('68c78de14d52678dc662feee'), 'name': 'john', 'address': 'Highway 37'}
{'_id': '102', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}
{'_id': ObjectId('68c791ac4d52678dc662fef0'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('68c791ae4d52678dc662fef2'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('68c791cf3630c2c21ae752cd'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('68c792593630c2c21ae752cf'), 'name': 'john', 'address': 'Highway 37'}
{'_id': '103', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '104', 'name': 'Robert', 'age': '28', 'city': 'mumbai'}

In [33]:
mycol.delete_many({"age":{"$gte":"26"}})

DeleteResult({'n': 3, 'ok': 1.0}, acknowledged=True)

In [34]:
mycol.drop()

In [35]:
collections = mydb.list_collection_names()
for coll in collections:
    print(coll)

In [36]:
mycol.update_one({"_id": "102"}, {"$set":{"city":"vizag"}})

UpdateResult({'n': 0, 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}, acknowledged=True)

In [37]:
for doc2 in mycol.find().limit(3):
    print(doc2)