In [61]:
import mysql.connector

In [62]:
mydb = mysql.connector.connect(
host="localhost",
user="root",
password="Surya@14963",
database="games_db"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000016EC1C04E10>

In [63]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('games_db',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('school_db',)
('sys',)
('world',)

In [64]:
for x in mycursor:
    print(x)

In [65]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('customer',)
('customers',)
('customers1',)

#1

In [66]:
# 1.Write a Python program to connect to MySQL and print the list of all available databases.

import mysql.connector
cursor.close()
mydb.close()== mysql.connector.connect(
host="localhost",
user="root",
password="Surya@14963"
)

print(mydb)

NameError: name 'cursor' is not defined

In [ ]:
#2. Create a function in Python to create the tables (students, courses, enrollments) in school_db.

import mysql.connector

conn = mysql.connector.connect(
    host="localhost",      
    user="root",           
    password="Surya@14963" 
)
 
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS school_db")
cursor.execute("USE school_db")
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    age INT,
    grade VARCHAR(10)
)
""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS courses (
    course_id INT AUTO_INCREMENT PRIMARY KEY,
    course_name VARCHAR(100),
    instructor VARCHAR(100)
)
""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS enrollments (
    enroll_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    course_id INT
)
""")
 
print(" Database and tables created successfully!")

 Database and tables created successfully!

In [ ]:
#3 Write a Python program to insert multiple students and courses into the respective tables using executemany().

import mysql.connector

# Connect to MySQL server and database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Surya@14963",
    database="school_db"   
)

cursor = mydb.cursor()

students = [
    ("zanel", 18, "c"),
    ("uma", 23, "A"),
    ("wendy", 22, "B"),
    ("xander", 22, "A"),
    ("victor", 19, "A")
]

student_query = "INSERT INTO students (name, age, grade) VALUES (%s, %s, %s)"
cursor.executemany(student_query, students)

print(f" {cursor.rowcount} student records inserted.")

courses = [
    ("Mathematics", "Dr. Smith"),
    ("physics", "Dr. Johnson"),
    ("chemistry", "Dr.brown"),
    ("biology", "prof.Lee")
]

course_query = "INSERT INTO courses (course_name, instructor) VALUES (%s, %s)"
cursor.executemany(course_query, courses)

print(f" {cursor.rowcount} course records inserted.")

mydb.commit()

cursor.close()
mydb.close()

print("All records inserted successfully!")

 5 student records inserted.
 4 course records inserted.
All records inserted successfully!

In [ ]:
pip install tabulate

Requirement already satisfied: tabulate in c:\users\surya\appdata\local\programs\python\python313\lib\site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
#4.Fetch and print all rows from the students table in a tabular format.
import mysql.connector
from tabulate import tabulate   

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Surya@14963",
    database="school_db"
)

cursor = mydb.cursor()

cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

headers = ["Student ID", "Name", "Age", "Grade"]

print("\n Students Table:")
print(tabulate(rows, headers=headers, tablefmt="grid"))

cursor.close()
mydb.close()

 Students Table:
+--------------+--------+-------+---------+
|   Student ID | Name   |   Age | Grade   |
+==============+========+=======+=========+
|            1 | zanel  |    18 | A       |
+--------------+--------+-------+---------+
|            2 | uma    |    23 | C       |
+--------------+--------+-------+---------+
|            3 | wendy  |    22 | D       |
+--------------+--------+-------+---------+
|            4 | xander |    22 | B       |
+--------------+--------+-------+---------+
|            5 | victor |    19 | D       |
+--------------+--------+-------+---------+
|            6 | zanel  |    18 | c       |
+--------------+--------+-------+---------+
|            7 | uma    |    23 | A       |
+--------------+--------+-------+---------+
|            8 | wendy  |    22 | B       |
+--------------+--------+-------+---------+
|            9 | xander |    22 | A       |
+--------------+--------+-------+---------+
|           10 | victor |    19 | A       |
+--------------+--------+-------+---------+
|           11 | zanel  |    18 | c       |
+--------------+--------+-------+---------+
|           12 | uma    |    23 | A       |
+--------------+--------+-------+---------+
|           13 | wendy  |    22 | B       |
+--------------+--------+-------+---------+
|           14 | xander |    22 | A       |
+--------------+--------+-------+---------+
|           15 | victor |    19 | A       |
+--------------+--------+-------+---------+

In [ ]:
#5 Write a program to update the grade of a student (given student_id) via a Python input prompt.
import mysql.connector

# Connect to MySQL server and database
mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="Surya@14963",
    database="school_db"
)

cursor = conn.cursor()
student_id = int(input("Enter the Student ID to update: "))
new_grade = input("Enter the new grade: ")
update_query = "UPDATE students SET grade = %s WHERE student_id = %s"
cursor.execute(update_query, (new_grade, student_id))
mydb.commit()

if cursor.rowcount > 0:
    print(f" Student ID {student_id} grade updated to {new_grade}")
else:
    print("No student found with that ID.")
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

headers = ["Student ID", "Name", "Age", "Grade"]

print("\n Updated Students Table:")
from tabulate import tabulate
print(tabulate(rows, headers=headers, tablefmt="grid"))

cursor.close()
mydb.close()

 Student ID 5 grade updated to D

 Updated Students Table:
+--------------+--------+-------+---------+
|   Student ID | Name   |   Age | Grade   |
+==============+========+=======+=========+
|            1 | zanel  |    18 | A       |
+--------------+--------+-------+---------+
|            2 | uma    |    23 | C       |
+--------------+--------+-------+---------+
|            3 | wendy  |    22 | B       |
+--------------+--------+-------+---------+
|            4 | xander |    22 | B       |
+--------------+--------+-------+---------+
|            5 | victor |    19 | D       |
+--------------+--------+-------+---------+
|            6 | zanel  |    18 | c       |
+--------------+--------+-------+---------+
|            7 | uma    |    23 | A       |
+--------------+--------+-------+---------+
|            8 | wendy  |    22 | B       |
+--------------+--------+-------+---------+
|            9 | xander |    22 | A       |
+--------------+--------+-------+---------+
|           10 | victor |    19 | A       |
+--------------+--------+-------+---------+

In [ ]:
import mysql.connector

def list_databases():
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Surya@14963"
    )
    cur = conn.cursor()
    cur.execute("SHOW DATABASES")
    dbs = cur.fetchall()
    print("Databases:")
    for (db,) in dbs:
        print(" -", db)
    cur.close()
    conn.close()

if __name__ == "__main__":
    list_databases()

Databases:
 - games_db
 - information_schema
 - mysql
 - performance_schema
 - sakila
 - school_db
 - sys
 - world

In [ ]:
import mysql.connector

def create_tables():
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Surya@14963"
    )
    cur = conn.cursor()
    cur.execute("CREATE DATABASE IF NOT EXISTS school_db")
    cur.execute("USE school_db")

    cur.execute("""
    CREATE TABLE IF NOT EXISTS students (
        student_id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100),
        age INT,
        grade VARCHAR(10)
    ) ENGINE=InnoDB
    """)

    cur.execute("""
    CREATE TABLE IF NOT EXISTS courses (
        course_id INT AUTO_INCREMENT PRIMARY KEY,
        course_name VARCHAR(100),
        instructor VARCHAR(100)
    ) ENGINE=InnoDB
    """)

    cur.execute("""
    CREATE TABLE IF NOT EXISTS enrollments (
        enroll_id INT AUTO_INCREMENT PRIMARY KEY,
        student_id INT,
        course_id INT,
        FOREIGN KEY (student_id) REFERENCES students(student_id),
        FOREIGN KEY (course_id) REFERENCES courses(course_id)
    ) ENGINE=InnoDB
    """)

    conn.commit()
    cur.close()
    conn.close()
    print("school_db and tables created (if not present).")

if __name__ == "__main__":
    create_tables()

school_db and tables created (if not present).

In [ ]:
import mysql.connector

def insert_multiple():
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Surya@14963",
        database="school_db"
    )
    cur = conn.cursor()

    students = [
        ("zanel", 18, "C"),
        ("uma", 23, "A"),
        ("wendy", 22, "B"),
        ("xander", 22, "A"),
        ("victor", 19, "A")
    ]
    student_q = "INSERT INTO students (name, age, grade) VALUES (%s, %s, %s)"
    cur.executemany(student_q, students)
    students_inserted = cur.rowcount  # rows affected by the last executemany (approx)

    courses = [
        ("Mathematics", "Dr. Smith"),
        ("physics", "Dr. Johnson"),
        ("chemistry", "Dr.brown"),
        ("biology", "prof.Lee")
    ]
    course_q = "INSERT INTO courses (course_name, instructor) VALUES (%s, %s)"
    cur.executemany(course_q, courses)
    courses_inserted = cur.rowcount

    conn.commit()
    cur.close()
    conn.close()

    print(f" Inserted {students_inserted} student rows and {courses_inserted} course rows.")

if __name__ == "__main__":
    insert_multiple()

 Inserted 5 student rows and 4 course rows.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
 
# Read CSV
df1 = pd.read_csv("./students.csv")
 
# Encode '@' in password
engine = create_engine("mysql+mysqlconnector://root:Murali%4029@localhost/school_db")
df1.to_sql("Student", con=engine, index=False, if_exists='append')
 
 
df2=pd.read_csv("./courses.csv")
engine=create_engine("mysql+mysqlconnector://root:Murali%4029@localhost/school_db")
df2.to_sql("Courses",con=engine,index=False,if_exists="append")

In [ ]:
#2a
def create_tables():
    with mysql.connector.connect(
        host="localhost",
        user="root",
        password="Surya@14963"
    ) as conn, conn.cursor() as cur:
        cur.execute("CREATE DATABASE IF NOT EXISTS school_db")
        cur.execute("USE school_db")

        tables = [
            """CREATE TABLE IF NOT EXISTS students(
                student_id INT AUTO_INCREMENT PRIMARY KEY,
                name VARCHAR(100), age INT, grade VARCHAR(10)
            )""",
            """CREATE TABLE IF NOT EXISTS courses(
                course_id INT AUTO_INCREMENT PRIMARY KEY,
                course_name VARCHAR(100), instructor VARCHAR(100)
            )""",
            """CREATE TABLE IF NOT EXISTS enrollments(
                enroll_id INT AUTO_INCREMENT PRIMARY KEY,
                student_id INT, course_id INT,
                FOREIGN KEY(student_id) REFERENCES students(student_id),
                FOREIGN KEY(course_id) REFERENCES courses(course_id)
            )"""
        ]
        for t in tables: cur.execute(t)
        conn.commit()
    print("school_db and tables created (if not present).")

if __name__ == "__main__":
    create_tables()

school_db and tables created (if not present).

In [ ]:
#3a
import mysql.connector

def insert_multiple():
    with mysql.connector.connect(
        host="localhost",
        user="root",
        password="Surya@14963",
        database="school_db"
    ) as conn, conn.cursor() as cur:

        data = [
            ("INSERT INTO students (name, age, grade) VALUES (%s, %s, %s)", [
                ("zanel", 18, "C"),
                ("uma", 23, "A"),
                ("wendy", 22, "B"),
                ("xander", 22, "A"),
                ("victor", 19, "A")
            ]),
            ("INSERT INTO courses (course_name, instructor) VALUES (%s, %s)", [
                ("Mathematics", "Dr. Smith"),
                ("physics", "Dr. Johnson"),
                ("chemistry", "Dr.brown"),
                ("biology", "prof.Lee")
            ])
        ]

        for query, rows in data:
            cur.executemany(query, rows)
            print(f"Inserted {cur.rowcount} rows.")

        conn.commit()

if __name__ == "__main__":
    insert_multiple()

Inserted 5 rows.
Inserted 4 rows.

In [ ]:
#4a
import mysql.connector

try:
    from tabulate import tabulate
except ImportError:
    tabulate = None

def print_students():
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Surya@14963",
        database="school_db"
    )
    cur = conn.cursor()
    cur.execute("SELECT * FROM students")
    rows = cur.fetchall()
    cur.close()
    conn.close()

    headers = ["Student ID", "Name", "Age", "Grade"]

    if tabulate:
        print(tabulate(rows, headers=headers, tablefmt="grid"))
    else:
        # simple fallback if tabulate not installed
        print("{:<10} {:<15} {:<5} {:<6}".format(*headers))
        print("-" * 40)
        for r in rows:
            print("{:<10} {:<15} {:<5} {:<6}".format(r[0], r[1], r[2], r[3]))

if __name__ == "__main__":
    print_students()

+--------------+--------+-------+---------+
|   Student ID | Name   |   Age | Grade   |
+==============+========+=======+=========+
|            1 | zanel  |    18 | A       |
+--------------+--------+-------+---------+
|            2 | uma    |    23 | C       |
+--------------+--------+-------+---------+
|            3 | wendy  |    22 | D       |
+--------------+--------+-------+---------+
|            4 | xander |    22 | B       |
+--------------+--------+-------+---------+
|            5 | victor |    19 | D       |
+--------------+--------+-------+---------+
|            6 | zanel  |    18 | c       |
+--------------+--------+-------+---------+
|            7 | uma    |    23 | A       |
+--------------+--------+-------+---------+
|            8 | wendy  |    22 | B       |
+--------------+--------+-------+---------+
|            9 | xander |    22 | A       |
+--------------+--------+-------+---------+
|           10 | victor |    19 | A       |
+--------------+--------+-------+---------+
|           11 | zanel  |    18 | c       |
+--------------+--------+-------+---------+
|           12 | uma    |    23 | A       |
+--------------+--------+-------+---------+
|           13 | wendy  |    22 | B       |
+--------------+--------+-------+---------+
|           14 | xander |    22 | A       |
+--------------+--------+-------+---------+
|           15 | victor |    19 | A       |
+--------------+--------+-------+---------+
|           16 | zanel  |    18 | C       |
+--------------+--------+-------+---------+
|           17 | uma    |    23 | A       |
+--------------+--------+-------+---------+
|           18 | wendy  |    22 | B       |
+--------------+--------+-------+---------+
|           19 | xander |    22 | A       |
+--------------+--------+-------+---------+
|           20 | victor |    19 | A       |
+--------------+--------+-------+---------+
|           21 | zanel  |    18 | C       |
+--------------+--------+-------+---------+
|           22 | uma    |    23 | A       |
+--------------+--------+-------+---------+
|           23 | wendy  |    22 | B       |
+--------------+--------+-------+---------+
|           24 | xander |    22 | A       |
+--------------+--------+-------+---------+
|           25 | victor |    19 | A       |
+--------------+--------+-------+---------+
|           26 | zanel  |    18 | C       |
+--------------+--------+-------+---------+
|           27 | uma    |    23 | A       |
+--------------+--------+-------+---------+
|           28 | wendy  |    22 | B       |
+--------------+--------+-------+---------+
|           29 | xander |    22 | A       |
+--------------+--------+-------+---------+
|           30 | victor |    19 | A       |
+--------------+--------+-------+---------+
|           31 | zanel  |    18 | C       |
+--------------+--------+-------+---------+
|           32 | uma    |    23 | A       |
+--------------+--------+-------+---------+
|           33 | wendy  |    22 | B       |
+--------------+--------+-------+---------+
|           34 | xander |    22 | A       |
+--------------+--------+-------+---------+
|           35 | victor |    19 | A       |
+--------------+--------+-------+---------+

In [ ]:
#5a
import mysql.connector

def update_grade():
    sid = int(input("Enter Student ID: "))
    grade = input("Enter new grade: ")

    with mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db") as conn, conn.cursor() as cur:
        cur.execute("UPDATE students SET grade=%s WHERE student_id=%s", (grade, sid))
        conn.commit()
        print("Updated" if cur.rowcount else " Student not found")
update_grade()

Updated

In [ ]:
#6a
import mysql.connector

def delete_student():
    sid = int(input("Enter Student ID to delete: "))

    with mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db") as conn, conn.cursor() as cur:
        cur.execute("DELETE FROM students WHERE student_id=%s", (sid,))
        conn.commit()
        print("Deleted" if cur.rowcount else "Student not found")
delete_student()

Deleted

In [ ]:
#7a
import mysql.connector
def insert_enrollments():
    enrollments = [(1,1),(2,2),(3,3),(4,4),(5,5)] 

    with mysql.connector.connect(
        host="localhost", user="root", password="Surya@14963", database="school_db"
    ) as conn, conn.cursor() as cur:
        
        # Insert rows
        cur.executemany("INSERT INTO enrollments (student_id, course_id) VALUES (%s,%s)", enrollments)
        conn.commit()
        print(f"{cur.rowcount} enrollments added")
        
        # Fetch and print all enrollments
        cur.execute("SELECT * FROM enrollments")
        print("\nCurrent enrollments:")
        for row in cur.fetchall():
            print(row)

insert_enrollments()

5 enrollments added

Current enrollments:
(1, 1, 1)
(2, 2, 2)
(3, 3, 3)
(4, 4, 1)
(5, 5, 4)
(6, 1, 1)
(7, 2, 2)
(8, 3, 3)
(9, 4, 1)
(10, 5, 4)
(11, 1, 1)
(12, 2, 2)
(13, 3, 3)
(14, 4, 4)
(15, 5, 5)
(16, 1, 1)
(17, 2, 2)
(18, 3, 3)
(19, 4, 4)
(20, 5, 5)
(21, 1, 1)
(22, 2, 2)
(23, 3, 3)
(24, 4, 4)
(25, 5, 5)
(26, 1, 1)
(27, 2, 2)
(28, 3, 3)
(29, 4, 4)
(30, 5, 5)

In [ ]:
#8a
import mysql.connector
from tabulate import tabulate

def students_in_course():
    cid = int(input("Enter Course ID: "))

    with mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db") as conn, conn.cursor() as cur:
        cur.execute("""SELECT s.student_id, s.name, s.grade
                       FROM students s
                       JOIN enrollments e ON s.student_id=e.student_id
                       WHERE e.course_id=%s""", (cid,))
        print(tabulate(cur.fetchall(), headers=["ID","Name","Grade"], tablefmt="grid"))
students_in_course()

+------+--------+---------+
|   ID | Name   | Grade   |
+======+========+=========+
|    2 | uma    | C       |
+------+--------+---------+

In [ ]:
#9a
import mysql.connector
from tabulate import tabulate
def students_without_courses():
    with mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db") as conn, conn.cursor() as cur:
        cur.execute("""SELECT s.student_id, s.name, s.grade
                       FROM students s
                       LEFT JOIN enrollments e ON s.student_id=e.student_id
                       WHERE e.student_id IS NULL""")
        print(tabulate(cur.fetchall(), headers=["ID","Name","Grade"], tablefmt="grid"))
students_without_courses()

+------+--------+---------+
|   ID | Name   | Grade   |
+======+========+=========+
|    6 | zanel  | c       |
+------+--------+---------+
|    7 | uma    | A       |
+------+--------+---------+
|    8 | wendy  | B       |
+------+--------+---------+
|    9 | xander | A       |
+------+--------+---------+
|   10 | victor | A       |
+------+--------+---------+
|   11 | zanel  | c       |
+------+--------+---------+
|   12 | uma    | A       |
+------+--------+---------+
|   13 | wendy  | B       |
+------+--------+---------+
|   14 | xander | A       |
+------+--------+---------+
|   15 | victor | A       |
+------+--------+---------+
|   16 | zanel  | C       |
+------+--------+---------+
|   17 | uma    | A       |
+------+--------+---------+
|   18 | wendy  | B       |
+------+--------+---------+
|   19 | xander | A       |
+------+--------+---------+
|   20 | victor | A       |
+------+--------+---------+
|   21 | zanel  | C       |
+------+--------+---------+
|   22 | uma    | A       |
+------+--------+---------+
|   23 | wendy  | B       |
+------+--------+---------+
|   24 | xander | A       |
+------+--------+---------+
|   25 | victor | A       |
+------+--------+---------+
|   26 | zanel  | C       |
+------+--------+---------+
|   27 | uma    | A       |
+------+--------+---------+
|   28 | wendy  | B       |
+------+--------+---------+
|   29 | xander | A       |
+------+--------+---------+
|   30 | victor | A       |
+------+--------+---------+
|   31 | zanel  | C       |
+------+--------+---------+
|   32 | uma    | A       |
+------+--------+---------+
|   33 | wendy  | B       |
+------+--------+---------+
|   34 | xander | A       |
+------+--------+---------+
|   35 | victor | A       |
+------+--------+---------+

In [ ]:
#10a
import mysql.connector
from tabulate import tabulate
def student_course_join():
    with mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db") as conn, conn.cursor() as cur:
        cur.execute("""SELECT s.name, c.course_name
                       FROM students s
                       INNER JOIN enrollments e ON s.student_id=e.student_id
                       INNER JOIN courses c ON e.course_id=c.course_id""")
        print(tabulate(cur.fetchall(), headers=["Student","Course"], tablefmt="grid"))
student_course_join()

+-----------+-------------+
| Student   | Course      |
+===========+=============+
| zanel     | Mathematics |
+-----------+-------------+
| uma       | physics     |
+-----------+-------------+
| xander    | Mathematics |
+-----------+-------------+

In [ ]:
#11a
import mysql.connector
from tabulate import tabulate

def search_student():
    name = input("Enter name to search: ")
    with mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db") as conn, conn.cursor() as cur:
        cur.execute("SELECT * FROM students WHERE name LIKE %s", (f"%{name}%",))
        print(tabulate(cur.fetchall(), headers=["ID","Name","Age","Grade"], tablefmt="grid"))
search_student()

+------+--------+-------+---------+
| ID   | Name   | Age   | Grade   |
+======+========+=======+=========+
+------+--------+-------+---------+

In [ ]:
#12a
def add_emails():
    with mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db") as conn, conn.cursor() as cur:
        cur.execute("SHOW COLUMNS FROM students LIKE 'school_email'")
        if not cur.fetchone():
            cur.execute("ALTER TABLE students ADD COLUMN school_email VARCHAR(100)")
        cur.execute("SELECT student_id, name, school_email FROM students")
        for sid, name, email in cur.fetchall():
            if not email:
                cur.execute("UPDATE students SET school_email=%s WHERE student_id=%s",
                            (name.lower() + str(random.randint(100,999)) + "@gmail.com", sid))
        conn.commit()
        cur.execute("SELECT student_id, name, school_email FROM students")
        print(*cur.fetchall(), sep="\n")

add_emails()

(1, 'zanel', 'zanel313@gmail.com')
(2, 'uma', 'uma148@gmail.com')
(4, 'xander', 'xander916@gmail.com')
(6, 'zanel', 'zanel137@gmail.com')
(7, 'uma', 'uma481@gmail.com')
(8, 'wendy', 'wendy240@gmail.com')
(9, 'xander', 'xander800@gmail.com')
(10, 'victor', 'victor534@gmail.com')
(11, 'zanel', 'zanel747@gmail.com')
(12, 'uma', 'uma990@gmail.com')
(13, 'wendy', 'wendy581@gmail.com')
(14, 'xander', 'xander730@gmail.com')
(15, 'victor', 'victor320@gmail.com')
(16, 'zanel', 'zanel771@gmail.com')
(17, 'uma', 'uma967@gmail.com')
(18, 'wendy', 'wendy458@gmail.com')
(19, 'xander', 'xander198@gmail.com')
(20, 'victor', 'victor742@gmail.com')
(21, 'zanel', 'zanel982@gmail.com')
(22, 'uma', 'uma154@gmail.com')
(23, 'wendy', 'wendy132@gmail.com')
(24, 'xander', 'xander928@gmail.com')
(25, 'victor', 'victor587@gmail.com')
(26, 'zanel', 'zanel485@gmail.com')
(27, 'uma', 'uma978@gmail.com')
(28, 'wendy', 'wendy487@gmail.com')
(29, 'xander', 'xander145@gmail.com')
(30, 'victor', 'victor763@gmail.com')
(31, 'zanel', 'zanel392@gmail.com')
(32, 'uma', 'uma911@gmail.com')
(33, 'wendy', 'wendy511@gmail.com')
(34, 'xander', 'xander109@gmail.com')
(35, 'victor', 'victor781@gmail.com')
(36, 'zanel', 'zanel831@gmail.com')
(37, 'uma', 'uma934@gmail.com')
(38, 'wendy', 'wendy697@gmail.com')
(39, 'xander', 'xander755@gmail.com')
(40, 'victor', 'victor736@gmail.com')

In [ ]:
#13a
import mysql.connector
from tabulate import tabulate
def count_students_per_course():
    with mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db") as conn, conn.cursor() as cur:
        cur.execute("""SELECT c.course_name, COUNT(e.student_id) AS total
                       FROM courses c
                       LEFT JOIN enrollments e ON c.course_id=e.course_id
                       GROUP BY c.course_id
                       ORDER BY total DESC""")
        print(tabulate(cur.fetchall(), headers=["Course","Students"], tablefmt="grid"))
count_students_per_course()

+-------------+------------+
| Course      |   Students |
+=============+============+
| Mathematics |          2 |
+-------------+------------+
| physics     |          1 |
+-------------+------------+
| chemistry   |          1 |
+-------------+------------+
| biology     |          1 |
+-------------+------------+
| Mathematics |          0 |
+-------------+------------+
| physics     |          0 |
+-------------+------------+
| chemistry   |          0 |
+-------------+------------+
| biology     |          0 |
+-------------+------------+
| Mathematics |          0 |
+-------------+------------+
| physics     |          0 |
+-------------+------------+
| chemistry   |          0 |
+-------------+------------+
| biology     |          0 |
+-------------+------------+
| Mathematics |          0 |
+-------------+------------+
| physics     |          0 |
+-------------+------------+
| chemistry   |          0 |
+-------------+------------+
| biology     |          0 |
+-------------+------------+
| Mathematics |          0 |
+-------------+------------+
| physics     |          0 |
+-------------+------------+
| chemistry   |          0 |
+-------------+------------+
| biology     |          0 |
+-------------+------------+
| Mathematics |          0 |
+-------------+------------+
| physics     |          0 |
+-------------+------------+
| chemistry   |          0 |
+-------------+------------+
| biology     |          0 |
+-------------+------------+
| Mathematics |          0 |
+-------------+------------+
| physics     |          0 |
+-------------+------------+
| chemistry   |          0 |
+-------------+------------+
| biology     |          0 |
+-------------+------------+

In [ ]:
#14a
import mysql.connector
from tabulate import tabulate
def students_in_course():
    cname = input("Enter course name: ")
    with mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db") as conn, conn.cursor() as cur:
        cur.execute("""SELECT s.name, s.grade
                       FROM students s
                       JOIN enrollments e ON s.student_id=e.student_id
                       JOIN courses c ON e.course_id=c.course_id
                       WHERE c.course_name=%s""", (cname,))
        print(tabulate(cur.fetchall(), headers=["Student","Grade"], tablefmt="grid"))
students_in_course()

+-----------+---------+
| Student   | Grade   |
+===========+=========+
+-----------+---------+

In [ ]:
#15a
import mysql.connector, csv
def export_students():
    with mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db") as conn, conn.cursor() as cur:
        cur.execute("SELECT * FROM students")
        rows = cur.fetchall()
        headers = [d[0] for d in cur.description]
        with open("students_export.csv", "w", newline="") as f:
            csv.writer(f).writerows([headers] + rows)
        print("Exported to students_export.csv")
export_students()

Exported to students_export.csv

In [ ]:
#16a
import csv

def import_csv():
    with open("students_import.csv", newline='') as f:
        rows = list(csv.reader(f))[1:]  # skip header
    mycursor.executemany("INSERT INTO students (name, age, grade) VALUES (%s, %s, %s)", rows)
    mydb.commit()
    print(f"Imported {mycursor.rowcount} row")

In [ ]:
#17a
# Create the stored procedure using Python

proc = """
CREATE PROCEDURE GetStudentCourses(IN sid INT)
BEGIN
    SELECT s.name, c.course_name
    FROM enrollments e
    JOIN students s ON e.student_id = s.student_id
    JOIN courses c ON e.course_id = c.course_id
    WHERE s.student_id = sid;
END
"""

try:
    mycursor.execute("DROP PROCEDURE IF EXISTS GetStudentCourses")
    mycursor.execute(proc)
    mydb.commit()
    print("Stored procedure 'GetStudentCourses' created successfully.")
except Exception as e:
    print("Error creating procedure:", e)

Stored procedure 'GetStudentCourses' created successfully.

In [ ]:
#18a
import mysql.connector

def insert_student(student_id, name, age, grade):
    try:
        conn = mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db")
        cursor = conn.cursor()
        cursor.execute("INSERT INTO students (student_id, name, age, grade) VALUES (%s,%s,%s,%s)", 
                       (student_id, name, age, grade))
        conn.commit()
        print("Student inserted successfully ✅")
    except mysql.connector.IntegrityError:
        print(f"Duplicate entry found: student_id {student_id}")
    finally:
        cursor.close(); conn.close()

insert_student(1, "Surya", 21, "A")  # Example

Duplicate entry found: student_id 1

In [ ]:
#19a
import mysql.connector

def transaction_example():
    conn = mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db")
    cursor = conn.cursor()
    try:
        # Start transaction
        conn.start_transaction()

        # Insert new student
        cursor.execute("INSERT INTO students (name, age, grade) VALUES (%s,%s,%s)", ("NewStudent", 20, "B"))
        new_id = cursor.lastrowid  # get auto-generated student_id

        # Enroll them in a course (use valid course_id)
        cursor.execute("INSERT INTO enrollments (student_id, course_id) VALUES (%s,%s)", (new_id, 1))

        conn.commit()
        print("Transaction successful")
    except Exception as e:
        conn.rollback()
        print("Transaction failed Rolled back.", e)
    finally:
        cursor.close(); conn.close()

transaction_example()

Transaction successful

In [67]:
#20a
import mysql.connector
def safe_close():
    conn = None; cursor = None
    try:
        conn = mysql.connector.connect(host="localhost", user="root", password="Surya@14963", database="school_db")
        cursor = conn.cursor()
        cursor.execute("SELECT COUNT(*) FROM students")
        print("Students count:", cursor.fetchone()[0])
    finally:
        if cursor: cursor.close()
        if conn: conn.close()
        print("Connection closed safely")

safe_close()

Students count: 39
Connection closed safely